# Postgres Database Configuration
DATABASE_NAME=car_rental
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_HOST=db
DATABASE_PORT=5432


# Redis Configuration
REDIS_PORT=6379
REDIS_URL=redis://redis:${REDIS_PORT}/0

# Django/Backend Configuration
DEBUG=True
DATABASE_URL=postgresql://${DATABASE_USER}:${DATABASE_PASSWORD}@${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_NAME}